body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.country {
    display: flex;
    align-items:start;
    padding-left: 10px;
}

.title {
    padding-left: 20px;
}

.country-info {
    text-align: left;
    font-size: calc(10px + 1vmin);
    padding-left: 20px;
}

.header-info {
    display: flex;
    align-items: end;
}

